* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: #000;
}
#wrapper {
}
header {
    margin-top: 2rem;
    border-bottom: 1px solid lightgray;
}
ul {
    margin: 1%;
    list-style: none;
    display: flex;
}
#top-list {
    justify-content: space-between;
}
#top-list i {
    padding-right: 1%;
}
#top-nav {
    justify-content: center;
    gap: 2%;
}
li:first-of-type div {
    display: flex;
    gap: 160%;
}
main {
    padding: 15% 25% 0;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}
.first-col {
    grid-column: 1;
}
.second-col {
    grid-column: 2;
}
.first-art-para {
    grid-row: 1;
}