* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: #000;
}
header {
    margin-top: 2rem;
    border-bottom: 1px solid lightgray;
}
ul {
    margin: 1%;
    list-style: none;
}
#top-list {
    display: flex;
    justify-content: space-between;
}
#top-list i {
    padding-right: 1%;
}
#top-nav {
    display: flex;
    justify-content: center;
    gap: 2%;
}
li:first-of-type div {
    display: flex;
    gap: 160%;
}
main {
    padding: 12rem 25% 8rem;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}
.first-col {
    grid-column: 1;
}
.second-col {
    grid-column: 2;
}

footer {
    padding: 1.5rem 10%;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}
h4, #h4 {
    padding-bottom: 0.5rem;
}
#h4 {
    padding-top: 0.5rem;
}
footer form {
    margin-bottom: 2rem;
}
input {
    padding: 3%;
    border: none;
}
footer li {
    padding: 0.1rem 0;
}
.foot-first-col {
    grid-column: 1;
}
.foot-second-col {
    grid-column: 2;
}
.foot-third-col {
    grid-column: 3;
}
.foot-fourth-col {
    margin-left: 10%;
    grid-column: 4;
}
.foot-first-row {
    grid-row: 1;
}
.foot-second-row {
    grid-row: 2;
}
.foot-address {
    grid-column: 1 / -1;
    text-align: center;
}
.foot-address hr {
    border-color: #fff;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
}
.mail-button {
    margin-top: 1.5rem;
}
.mail-button a {
    line-height: 2.2rem;
    padding: 0.5rem 1rem;
    background-color: whitesmoke;
}