* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: #000;
}
#wrapper {
}
header {
    margin-top: 2rem;
    border-bottom: 1px solid lightgray;
}
ul {
    margin: 1%;
    list-style: none;
}
#top-list {
    display: flex;
    justify-content: space-between;
}
#top-list i {
    padding-right: 1%;
}
#top-nav {
    display: flex;
    justify-content: center;
    gap: 2%;
}
li:first-of-type div {
    display: flex;
    gap: 160%;
}
main {
    padding: 15% 25% 0;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}
.first-col {
    grid-column: 1;
}
.second-col {
    grid-column: 2;
}

footer {
    padding: 3% 10%;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}
.foot-first-col {
    grid-column: 1;
}
.foot-second-col {
    grid-column: 2;
}
.foot-third-col {
    grid-column: 3;
}
.foot-fourth-col {
    grid-column: 4;
}
.foot-first-row {
    grid-row: 1;
}
.foot-second-row {
    grid-row: 2;
}
.address {
    grid-column: 1 / -1;
    text-align: center;
}
/* .button {
    line-height: 2.2rem;
    width: 10vw;
    height: 5vh;
    background-color: whitesmoke;
} */